/* Make it possible to center Bootstrap navbar */
.nav-pills > li {
    display: inline-block;
    float: none;
}
input[type="file"] {
    /* Bootstrap sets this to block which prevents centering */
    display: initial;
}

.warnBox {
    text-align: left;
    display: none;
}

.panel {
    text-align: left;
}

pre {
    word-wrap: initial;
}

.container-fluid > div {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.unbounded-elem {
    max-width: none !important;
    margin-left: initial !important;
    margin-right: initial !important;
}
